.blog--teaser {
  display: flex;
  flex-direction: column;
}

.blog--teaser-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1em;
  margin-bottom: 1em;
}
.blog--teaser-image > a > * {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.blog--teaser-image > a img {
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

@media(min-width:768px) {
  .blog--teaser {
    flex-direction: row;
  }
}
