header {
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

header * {
  margin-bottom: 0;
}

header .site-title {
  font-size: 2.25rem;
  padding-right: .5em;
}

header .site-slogan {
  display: none;
}

@media(min-width:768px) {
  header .site-slogan {
    display: inline-block;
  }

}

.menu--desktop {
  margin-left: auto;
}

.menu--mobile {
  margin-left: auto;
  margin-right: auto;
}

.menu--main--toggle {
  display: block;
}

@media(min-width:768px) {
  .menu--main--toggle {
    display: none;
  }
}
